body{font:12px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;color:#666;}
a{color:#666;}
a:focus{outline:1px dotted}
a:hover{color:#5B80B2;}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}



div.gallery-photo {
 margin: 10px;
  border: 1px solid #000000;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}
div.gallery-photo img
{
  display: inline;
  margin: 3px;
  border: 1px solid #ffffff;
}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}