body{font:12px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;color:#666;}
a{color:#666;}
a:focus{outline:1px dotted}
a:hover{color:#5B80B2;}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}

h1.title {
  margin: 10px;
  text-align: center;
}

h2.published {
 margin: 11px;
  text-align: center;
}
p.gallery-desc {
margin: 11px;
  text-align: center;
}
div.photo-gallery{
margin: 15px;
  
  height: auto;
  width: auto;
  float: left;
  text-align: left;
}

div.gallery-photo {
 margin: 5px;
  border: 1px solid #000000;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}
div.gallery-photo img
{
  display: inline;
  margin: 3px;
  border: 1px solid #ffffff;
}
div.caption {
font-size:19px
}

div.all-gallery {
text-align: right;
  font-weight: normal;
  width: 120px;
  margin: 2px;
}

div.title{
font-family: Nilland-Black;
  color: #0a2c45;
font-size:25px;
text-align: center;

}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}