@import url('reset.css');
@import url('960.css');
@import url('text.css');
@font-face { font-family: Nilland-Smallcaps; src: url(../fonts/Nilland-SmallCaps.ttf); }
@font-face { font-family: Nilland-Smallcaps-Bold; src: url(../fonts/Nilland-SmallCaps-Bold.ttf); }
@font-face { font-family: Nilland-Black; src: url(../fonts/Nilland-Black.ttf); }
@font-face { font-family: Nilland-Bold; src: url(../fonts/Nilland-Bold.ttf); }
@font-face { font-family: Nilland-Extra-Bold; src: url(../fonts/Nilland-ExtraBold.ttf); }
@font-face { font-family: Sefer-AH; src: url(../fonts/Sefer-AH.TTF); } 

h1, h2, h3, h4 {
  font-family: Nilland-Black;
  color: #0a2c45;
}
h1 {
  padding:0;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 12px;
}
h2 {
  font-size: 17px;
  margin-bottom: 12px;
}
h3 {
  font-size: 14px;
  margin-bottom: 6px;
}
h4 {
  font-size: 12px;
  font-weight: bold;
  font-famiy: Nilland-Black;
  margin-bottom: 0px;
}

p {
  padding: 0;
  margin: 0;
  padding-bottom: 8px;
}

body{
  
}

#top_fade {
  height: 500px;
  width: 100%;
}

#header {
  background-color: #9A9A9A;
  color: white;
  height: 90px;
  

  -moz-box-shadow: -2px 0px 8px rgba(0,0,0,0.50);
  -webkit-box-shadow: -2px 0px 8px rgba(0,0,0,0.50);
  box-shadow: -2px 0px 8px rgba(0,0,0,0.50);
}

#header .abs {
  z-index: 2;
}

#page {
  margin-top: -500px;
}

#logo {
  background: url(../img/tby_logo.jpg) no-repeat;
  float: left;
}

#logo a{
  display: block;
	height: 25px;
  width: 220px;
	text-indent: -9999px;
}

/* Navigation main */
#nav_main{
	clear:both;
  position: absolute;
  top: 50px;
}
#nav_main ul, #nav_main li{
	list-style:none;
	margin:0;
	padding:0;
  text-align: left;
}
#nav_main ul.hidden {
  display: none;
}
#nav_main li, #nav_main a{
	display:block;
 	float:left;
	text-decoration:none;
}
#nav_main a{
	color:#666666;
	padding:10px 7px 3px 7px;
  font-family: Nilland-Extra-Bold;
	font-size:13px;
}
#nav_main a:hover{
  border-bottom: 1px solid #666666;
}
#nav_main a.selected,#nav_main a.ancestor{	
	font-weight:bold;
  font-family: Nilland-Black;
}
#nav_main a.selected {
  color: white;
}

#nav_main a.selected:hover, #nav_main a.ancestor:hover{
	border-bottom: 1px solid white;
}
#nav_main a.has_children {
  border-bottom: 0;
}
#nav_main ul.submenu {
  position: absolute;
  top: 30px;
  max-width: 120px;
  z-index: 10;
  background-color: #38648F;
  border: 1px solid black;
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
}
#nav_main ul.submenu li{
  float: left;
  width: 100%;
  border-top: 1px solid black;
}
#nav_main ul.submenu li:first-child{
  border-top: 0;
}
#nav_main ul.submenu a{
  width: 100%;
  padding: 5px;
  color: #0a2c45;
}
#nav_main ul.submenu a:hover{
  border: none;
  color: white;
}


/* Navigation Sub */
#nav_sub{
	margin-bottom:20px;
  font-family: Nilland-Extra-Bold;
}
#nav_sub ul, #nav_sub li{
	list-style:none;
	margin:0;
	padding:0;
}
#nav_sub li{	
  padding: 7px 10px 7px 10px;
}
#nav_sub a{
	display:block;
	border-bottom:1px solid #E0E0E0;
	color:#666666;
	font-size:13px;
	text-decoration:none;
	padding:3px 0 3px 0;
	zoom:1;
}
#nav_sub a:hover{
	color: white;
}

#nav_sub li li{
	padding-left:10px;
}

#nav_sub a.selected{	
	color: #A78D36;
  font-weight: bold;
  font-family: Nilland-Black;
}


/* Content */
#main{
	clear:both;
}

#central_content {
  background-color: #D7D4CE;
  margin: 0;
  padding: 0;

}
#central_content h1 {
  border-bottom: 2px solid;
}

.inner_div{
  padding: 7px;
}

#col1 h1, #col1 h2, #col1 h3, #col1 h4, #col2 h3, #col2 h4, #col3 h3, #col3 h4, #col2_5 h3, #col2_5 h4 {
  color: #A78D36;
}

#col1 h3, #col3 h3 {
  padding-top: 15px; /*hack to get around plugin text not having ids*/
}

#col1, #central_content {
  outline: 1px solid #9A9A9A;
}

#featured {
  background-color: #D7D4CE;
}

#col1 {
  min-height: 50px;
}

#col2 {
}

#col3 {
  margin-left: 0;
}

#col1, #col2, #col3, #featured {

}


#col1:after, #col2:after{
	content: "\00a0";
}
