
<!doctype html>
<html>
<head>
<title>JQuery Cycle Plugin - Example Slideshow</title>
<style type="text/css">
.slideshow { height: 232px; width: 232px; margin: auto }
.slideshow img { padding: 15px; border: 1px solid #ccc; background-color: #eee; }
</style>

<!-- include jQuery library -->
<script type="text/javascript" src="/site_media/js/jquery.js"></script>

<!-- include Cycle plugin -->
<script type="text/javascript" src="/site_media/js/jquery.cycle.lite.min.js"></script>

<!--  initialize the slideshow when the DOM is ready -->
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>
</head>
<body>

{% if imagecycle_list %}
    {% for image_set in imagecycle_list %}
<div class="slideshow" style="background: 
{% if image_set.background_color %} {{ image_set.background_color }} {% endif %}
{% if image_set.background.image %} {{ image_set.background.image }} {% endif %}
{% if image_set.repeat %} {{ image_set.repeat }} {% endif %};">

            {% for image in image_set.choice_set.all %}
			{% if image.page_link %}
				<a href="{{ image.page_link.get_absolute_url }}">
			{% else %}{% if image.url %}
				<a href="{{ image.url }}">
			{% endif %}{% endif %}
			<img src="/media/{{ image.image }}" width="800" height="200" />
			{% if image.page_link or image.url %}
			</a>
			{% endif %}
        {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <p>No image_sets are available.</p>
{% endif %}

</body>
</html>