<style type="text/css">
.slideshow  { margin-left: -8px; }

.slideshow img {  padding: 3px; border: 1px solid #ccc; background-color: #eee; width: 512px;  }
</style>




<!-- include Cycle plugin -->
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.cycle.all.min.js"></script>

<!--  initialize the slideshow when the DOM is ready -->
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});</script>

<div style="clear: left;"  >

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="slideshow" style="margin-left: -8px; background: 
	{% if instance.imagecycle.background_color %} 
		{{ instance.imagecycle.background_color }} {% endif %}
	{% if instance.imagecycle.background.image %} 
		{{ instance.imagecycle.background.image }} {% endif %}
	{% if instance.imagecycle.repeat %} {{ instance.imagecycle.repeat }} {% endif %};">

{% for image in instance.imagecycle.choice_set.all %}
			{% if image.page_link %}
				<a href="{{ image.page_link.get_absolute_url }}">
			{% else %}{% if image.url %}<a href="{{ image.url }}">{% endif %}{% endif %}
				<img src="/media/{{ image.image }}" height="200" />
			{% if image.page_link or image.url %}</a>{% endif %}
{% endfor %}
</div>
</div>